<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
</head>

<style>
    .row {
        display: flex;
        margin: 10px;
    }

    .left {
        flex: 1;
        margin-right: 10px;
    }

    .right {
        flex: 1;
    }
</style>
<body>

{% for row,encoded_image  in data_and_images %}
    {% if loop.index % 2 == 0 %}
    <div class="row">
        <div class="left">
            <p>{{ row }}</p>
        </div>
        <div class="right">
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image" style="max-width: 50%;"/>
        </div>
    </div>
    {% else %}
    <div class="row">
        
        <div class="left">
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image" style="max-width: 50%;" />
        </div>
        <div class="right">
            <p>{{ row }}</p>
        </div>
    </div>
    {% endif %}
{% endfor %}

</body>
</html>

