<!DOCTYPE html>
<html>
<head>
    <title>Display Data</title>
</head>

<style>
    .row {
        display: flex;
        margin: 10px;
    }

    .left {
        flex: 1;
        margin-right: 10px;
    }

    .right {
        flex: 1;
    }
</style>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                {% if current_user.is_authenticated %}
                    <!-- 显示已登录用户的信息 -->
                    <p>Welcome, <a href="/mycount">{{ current_user.username }}</a> !</p> <li><a href="/logout">Logout</a></li>
                {% else %}
                    <!-- 显示未登录用户的信息 -->
                    <li><a href="/login">Login</a></li>
                    <li><a href="/reg"> Register</a></li>
                {% endif %}
                
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>

{% for row,encoded_image,blogid,usname,star,comcount,bdate  in data_and_images %}
    <hr>
    <div><p> user:{{ usname }}  Date:{{ bdate }} stars:{{ star }} <a href="{{ url_for('blogdetail', blogid=blogid) }}">comments:</a> {{ comcount }}   </p> </div>
    
    {% if loop.index % 2 == 0 %}
    <div class="row">
        <div class="left">
            <p>{{ row }}</p>
        </div>
        <div class="right">
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image" style="max-width: 50%;"/>
        </div>
    </div>
    {% else %}
    <div class="row">
        
        <div class="left">
            <img src="data:image/jpeg;base64,{{ encoded_image }}" alt="Image" style="max-width: 50%;" />
        </div>
        <div class="right">
            <p>{{ row }}</p>
        </div>
    </div>
    {% endif %}
{% endfor %}
</main>

</body>
</html>

