<!DOCTYPE html>
<html>
<head>
  <title>Registration Form</title>
</head>
<body>
  <h2>Registration Form</h2>
  <form method="POST" action="/register">
    <label for="username"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username" name="username" required><br><br>
    <label for="password"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br><br>
    <label for="sex"><b>Sex:</b></label>
    <input type="text" placeholder="Enter Sex" name="sex" required><br><br>
    <label for="email"><b>Email:</b></label>
    <input type="email" placeholder="Enter Email Address" name="email" required><br><br>
    <label for="phonenumber"><b>phonenumber:</b></label>
    <input type="text" placeholder="Enter phonenumber" name="phonenumber" required><br><br>
    <label for="birthday"><b>birthday:</b></label>
    <input type="date" placeholder="Enter birthday" name="birthday" required><br><br>
    <button type="submit">Register</button>
  </form>
</body>
</html>